/* change the background color */
.navbar-custom {
    background-color: #121416;
   
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color:#ffffff;
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #002049;
    background-color: #FFC107; /* add background-color to active links */
}

.dropdown-menu .dropdown-item:hover {
    color: #002049;
    background-color: #FFC107;
}



/*FieldSet*/
.fieldset {
    border: 1px solid #FFC107;
    padding: 10px;
    margin-top:2px;
}
.legend {
    border-style: none;
    border-width: 0;
    font-size: 16px;
    font-weight:bold;
    line-height: 28px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
   
    
}

.bg-custom {
      color: #f2f2f2;
    background-color: #ff5500; 
}


.hr-yellow {
    border-top:1px solid #FFC107;
    margin-top:15px;
    margin-bottom:15px;
    background-color:#f2d44c;
    height:1px;
}

.hr-blue {
    border-top:1px solid #121416;
    margin-top:15px;
    margin-bottom:15px;
    background-color:#121416;
 
    height:1px;
}

.header-bg {
    background-color:#FFC107;
    color:#000;
}

.footer-bg {
    background-color:#121416;
    color:#F2F2F2;
}

.events,.notices{
margin:0;
padding:0;
list-style:none;
}

.events>li,.notices>li{
margin:0;
padding:5px;
height:60px;
border-left:1px solid #007BFF;
border-bottom:1px dotted #e5e5e5;
 display: block;
  display: -webkit-box;
 -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

 overflow: hidden;
  text-overflow: ellipsis;
}


#achievers{width:100%;height:320px;overflow:hidden;}
			  .performers{margin:0;padding:0;list-style:none;}
			  .performers>li{margin:0px;padding:0;float:left;padding:5px 7px 5px 9px;box-sizing: border-box;}





 #campus{width:100%;height:220px;overflow:hidden;}
			  .section{margin:0;padding:0;list-style:none;}
			  .section>li{margin:0px;padding:0;float:left;padding:5px 7px 5px 9px;box-sizing: border-box;}


  

#slideshow {
  
  position: relative;
  width: 100%;
  height: 300px;
  padding: 5px;
 
  box-shadow: 0 0 20px rgba(240, 240, 240, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    
   background-color:#121416;
    border:1px solid #121416;
        color:#f2d44c;
}

    .btn-primary:hover {
        background-color:#FFC107;
        border:1px solid #FFC107;
        color:#121416;
    }


.text-black
{
color:#000000 !important;
}